<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="G99Suite">

	<parameter name="browserDriver" value="webdriver.chrome.driver"></parameter>
	<parameter name="firefoxDriverPath" value="C:\\Users\\faiz1\\Desktop\\Selenium\\geckodriver.exe"></parameter>
	<parameter name="chromeDriverPath" value="C:\\Users\\ffarooq\\OneDrive - MetLife\\From Box\\Non Project\\Selenium\\chromedriver.exe"></parameter>
		
  <test thread-count="5" name="G99Test">
  	<classes>
  		<class name="G99.G99Class"/>
  	</classes>
  </test> <!-- G99Test -->
</suite> <!-- G99Suite -->
 